/*
    Media queres
    Responsive File
*/

/* Mobile */
@media (max-width: 480px) { 
    .header {
        height: 10dvh;
    }
    .header .container-fluid {
        justify-content: center!important;
    }
    h2 {
        font-size: 30px!important;
    }
    
    
    
    button.btn.me-2 {
        display: none;
    }

    .footer {
        padding: 50px 0px;
    }

    .footer .social-icon {
        justify-content: flex-start;
    }

    p.testimonial-message {
        font-size: 25px;
    }

    .aboutpatrol p {
        font-size: 20px!important;
        line-height: 29px!important;
    }

    .aboutpatrol {
        padding-left: 15px!important;
        padding-right: 15px!important;
    }

    .row.down-sec {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .appstore{
        width: 47%!important;
    }
    .playstore{
        width: 47%!important;
    }

    .about {
        padding: 50px 15px;
    }

    .appworks h2 {
        padding: 10px 15px; 
    }

    .appworks-img {
         padding-left: 45px!important;
        padding-right: 35px!important; 
    }

    .useyapp {
        
        padding: 50px 15px;
    }

    .container.testimonial {
        padding: 50px 34px;
    }

    .FAQ {
        padding: 50px 15px;
    }

}