/* GLobal  */
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Outfit", sans-serif !important;
}

p {
  color: #666;
}

.fixed-button {
  position: fixed;
  top: 50%;
    right: 0px;
    transform: translateY(-50%);
    z-index: 999;
  }
  
  .vertical-button {
  padding: 10px !important;
  width: 40px;
    height: 200px;
  
    transform: rotate(-180deg);
    font-weight: 700 !important;
    background-color: var(--primary-color) !important;
    border: none !important;
    letter-spacing: 1px !important;
    font-size: 14px !important;
  }

.vertical-button a {
  text-decoration: none;
  color: white;
  writing-mode: tb;
}

.hero {
  display: none;
}


section {
  padding: 50px 0px;
}

:root {
  --primary-color: #ff9432;
  /* color: var(--primary-color); */
  }
/* header */
p.logotext {
  margin-top: -13px;
  margin-bottom: 15px;
  }
  
  button.btn.me-2 {
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 11px;
}

button.btn.me-2 a {
  text-decoration: none;
  color: white;
}

.dwnbtnrw {
  display: flex;
  justify-content: center;
}

div#downloadbtn {
  padding-left: 20px;
  padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

/*  About Stroller Patrol App  */
h2 {
  font-style: normal;
  font-weight: bolder;
  font-size: 42px !important;
  line-height: 47px !important;
}

.row {
  align-items: center;
}

/*  */
.slideshow-container {
  display: none !important;
}

/*  */
#parent {
  background-color: #d6eeff;
}
.parent {
  height: 100dvh;
  width: 100%;
}

.carousel-indicators2 {
  position: static;
  margin-top: 10px;
  }

.card-text {
  font-weight: 700;
}

.aboutpatrol p {
  font-weight: 400;
  color: black;
  font-size: 28px !important;
  line-height: 36px !important;
    font-weight: 700;
}

.about {
  background-color: #fdcd70;
  padding: 50px 0px;
}

.appworks h2 {
  padding: 50px 0px;
  font-weight: 700;
    text-align: center;
}

.appworks .step {
  margin-bottom: 0px;
  color: var(--primary-color);
    font-weight: 600;
}

.appworks h3 {
  font-weight: 700;
}

.useyapp {
  background-color: #fdcd70;
  padding: 50px 0px;
}

.useyapp h2 {
  padding: 50px 0px;
  font-weight: 700;
}

.useyapp .icon {
  margin: 20px 0px;
}

.useyapp h3 {
  font-weight: 700;
}

.testimonial {
  padding: 50px 0px;
}

ol.carousel-indicators {
  display: none;
}

p.testimonial-message {
  font-size: 44px;
}

p.testimonial-name {
  font-weight: 700;
  font-size: 18px;
    margin-bottom: 0px;
}

.caregivers {
  background-color: #fdcd70;
}

.row.secrowparents {
  margin-left: auto;
  margin-right: auto;
    width: 82%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.FAQ {
  background-color: white;
  padding: 50px 0px;
}

.FAQ h2 {
  font-weight: 700;
  padding: 50px 0px;
}

.FAQ button.btn.btn-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
    font-weight: 700;
    margin: 0px 10px 0px 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  align-items: center;
    text-align: left;
}

.FAQ .card {
  margin: 0px 0px 20px 0px;
}

.testimonialbc {
  background-color: #fdcd70;
}

.footer {
  padding: 50px 50px 50px 50px;
}

.footer .social-icon {
  display: flex;
  justify-content: end;
}

.row.footer-logo {
  border-bottom: 2px solid #80808061;
  padding: 20px 0px;
}

.footer .footer-copyright {
  padding: 20px 0px;
}

.footer .social-icon a {
  padding: 0px 10px;
}
/* ---Newsletter--------- */
/* Add this to your existing CSS or create a new CSS file */
#popupContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  /* width: 100%;
    height: 100%; */
}

#popup {
  background: #d6eeff;
  padding: 20px;
  max-width: 58%;
  width: 100%;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 10%;
  left: 25%;
  display: flex;
}

#popup h3 {
  font-weight: 700;
}

.close {
  float: right;
  cursor: pointer;
}

.radio-buttons {
  margin-top: 10px;
}

.radio-buttons input {
  margin-right: 10px;
}

.radio-buttons label {
  margin-right: 20px;
}

input#mc-embedded-subscribe {
  background-color: #ff9432 !important;
}

.popup-col-1 {
  width: 50%;
}

.popup-col-2 {
  width: 50%;
  padding: 0% 2%;
  }
  
  #mc_embed_signup form {
    margin: 0px !important;
  }
  
  #mc_embed_signup .mc-field-group.input-group label {
    padding-left: 1%;
}