/* GLobal  */
*  {
    margin: 0px;
    padding: 0px;
    font-family: 'Outfit',sans-serif !important;
}

section {
    padding: 50px 0px;
}

:root {
    --primary-color: #ff9432; 
    /* color: var(--primary-color); */
  }

  button.btn.me-2 {
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 11px;
}
button.btn.me-2  a {
    text-decoration: none;
    color: white;
}
.header {
    background-color: white;
}

/*  About Stroller Patrol App  */
h2 {
    font-style: normal;
    font-weight: bolder;
    font-size: 42px!important;
    line-height: 47px!important;
}

.row {
    align-items: center;
}

.aboutpatrol p {
    font-weight: 400;
    color: #475569;
    font-size: 28px!important;
    line-height: 36px!important;
}

.about {
    background-color: #fdcd70;
    padding: 50px 0px;
}

.appworks h2 {
    padding: 50px 0px;
    font-weight: 700;
    text-align: center;
}

.appworks .step {
    margin-bottom: 0px;
    color: var(--primary-color);
    font-weight: 600;
}

.appworks h3 {
    font-weight: 700;
}

.useyapp {
    background-color: #fdcd70;
    padding: 50px 0px;
}

.useyapp h2 { 
    padding: 50px 0px;
    font-weight: 700;
}

.useyapp .icon {
    margin: 20px 0px;
}

.useyapp h3 {
    font-weight: 700;
}

.testimonial {
    padding: 50px 0px;
}

ol.carousel-indicators {
    display: none;
}
p.testimonial-message {
    font-size: 44px;
}

p.testimonial-name {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 0px;
}

.FAQ {
    background-color: #fdcd70;
    padding: 50px 0px;
}

.FAQ h2 {
    font-weight: 700;
    padding: 50px 0px;
}
.FAQ button.btn.btn-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin: 0px 10px 0px 0px;
}

.FAQ .card {
    margin: 0px 0px 20px 0px;
}

.footer {
    padding: 50px 50px 50px 50px;
}

.footer .social-icon {
    display: flex;
    justify-content: end;
}

.row.footer-logo {
    border-bottom: 2px solid #80808061;
    padding: 20px 0px;
}

.footer .footer-copyright {
    padding: 20px 0px;
}

.footer .social-icon a {
    padding: 0px 10px;
}

